body {
	background-color: #52734d;
}

button {
  width: 6rem;
  height: 2.5rem;
  font-size: 1rem;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.width {
  font-size: 10rem;
  font-family: monospace;
  font-weight: 800;
  color: #91c788;
  margin-top: 12rem;
}
